
/* generall CSS */

body {
    margin:0;
}

p{
    color: white;
}

h1{
    color: aliceblue;
}

h4{
    color: aliceblue;
}

video{
    position: relative;
    z-index: 1;
}


header{
    grid-area: hd;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#popular{
    grid-area: pop;
    background-color: #1a1a1a;
}

#aside{
    grid-area: as;
    background-color: #1a1a1a;
}

#scroll{
    grid-area: main;
}

#Rec{
    grid-area: as2;
    background-color: #1a1a1a;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}


/* Desktop CSS*/

@media  screen and (min-width:501px) {
    #wrapper{
        display: grid;
        background-color: gray;
        grid-template-columns: 20% 70% 9%;
        grid-template-rows: 50px 450px auto;
        grid-template-areas: 
        '. . .'
        '. pop pop'
        '. main as2'
        ;
        gap: 3px;
        margin-right: -2px;
    }

    header{
        display:flex;
        width: 100vw;
        height: 50px;
        position: fixed;
        z-index: 2;
        background-color: #1a1a1a;
        padding-left: 3px;
    }

    #aside{
        display: flex;
        overflow-y: scroll;
        height: 652px;
        position: fixed;
        z-index: 1;
        top: 51px;
        background-color: #1a1a1a;
        width: 20%;
        flex-direction: column;
        padding-left: 3px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    #Rec{
        height: 300px;
        background-color: #1a1a1a;
        border-radius: 18px;
        padding-left: 5px;
    }

    #popular{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    .Show{
        border: 3px solid rgb(127, 229, 254);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Movie{
        border: 3px solid rgb(253, 150, 236);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Anime{
        border: 3px solid rgb(233, 244, 81);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Book{
        border: 3px solid rgb(81, 244, 81);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Comic{
        border: 3px solid rgb(236, 44, 44);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    #scroll p{
        text-indent: 4px;
    }

    #popular{
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    video{
        height: 494.44px;
        width: 882px;
        border-radius: 18px;
        margin-bottom: -5px;

    }

    body ::-webkit-scrollbar{
        width: 0.5em;
        background: transparent;
    }

    body ::-webkit-scrollbar-thumb{
        background: aliceblue;
        border: .25em aliceblue solid;
        border-radius: 100vw;
    }

    .menu-button{
        display: none;
    }

    .menu{
        display: none;
    }

}


/* Mobil CSS */

@media screen and (max-width:500px) {
    #wrapper{
        background-color: gray;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 200px auto;
        grid-template-areas: 
        'hd'
        'pop'
        'main'
        ;
        gap: 2px;
    }

    header{
        display:flex;
        width: 100vw;
        height: 50px;
        position:absolute;
        background-color: #1a1a1a;
        padding-left: 3px;
    }

    #aside{
        display: flex;
        overflow-y: scroll;
        height: 652px;
        position: fixed;
        z-index: 1;
        top: 51px;
        background-color: #1a1a1a;
        width: 20%;
        flex-direction: column;
        padding-left: 3px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        left: -30%;
    }

    
    #Rec{
        display:none
    }

    #popular{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    
    .Show{
        border: 3px solid rgb(127, 229, 254);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Movie{
        border: 3px solid rgb(253, 150, 236);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Anime{
        border: 3px solid rgb(233, 244, 81);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Book{
        border: 3px solid rgb(81, 244, 81);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Comic{
        border: 3px solid rgb(236, 44, 44);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    #scroll p{
        
    }

    video{
        height:auto;
        width:99vw;
        border-radius: 18px;
        margin-bottom: -5px;
    }

}