
/* generall CSS */

body {
    margin:0;
}

p{
    color: white;
}

h1{
    color: aliceblue;
}

h4{
    color: aliceblue;
}

video{
    position: relative;
    z-index: 1;
}


header{
    grid-area: hd;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#popular{
    grid-area: pop;
    background-color: #1a1a1a;
}

#aside{
    grid-area: as;
    background-color: #1a1a1a;
}

#scroll{
    grid-area: main;
}

#Rec{
    grid-area: as2;
    background-color: #1a1a1a;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}


/* Desktop CSS*/

@media  screen and (min-width:501px) {
    #wrapper{
        position: relative;
        display: grid;
        background-color:#1a1a1a;
        grid-template-columns: 20% 70% 10%;
        grid-template-rows: 50px 550px auto;
        grid-template-areas: 
        '. . .'
        '. pop pop'
        '. main as2'
        ;
    }

    header{
        display:flex;
        width: 100vw;
        height: 50px;
        position: fixed;
        z-index: 2;
        background-color: #1a1a1a;
        padding-left: 3px;
        border-bottom: #a8a8a8 solid;
    }

    .slider_wrapper{
        position: relative;
        max-width: 65.2rem;
        margin: 0 auto;
    }
    
    .slider{
        display: flex;
        aspect-ratio: 16/9;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    
    .slider img{
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }
    
    .slider .bottom_left{
        scroll-snap-align: start;
    }


    #aside{
        display: flex;
        overflow-y: scroll;
        height: 669px;
        position: fixed;
        z-index: 1;
        top: 51px;
        background-color: #1a1a1a;
        width: 20%;
        flex-direction: column;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    #Rec{
        background-color: #1a1a1a;
        padding-top: 25px;
        padding-right: 25px;
        padding-left: -20px;
    }

    #Rec section{
        background-color:#131313;
        padding-top: 20px;
        border-radius: 18px;
        padding-left: 5px;
        height: 300px;
    }


    #scroll{
        padding-top: 25px;
        padding-left: 40px;
        padding-right: 30px;
        display:flex;
        flex-direction: column;
        align-content: space-between 20000px;
        
    }
    
    .Show{
        border: 3px solid #1a1a1a;
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }
    
    .Show:hover{
        border: 3px solid rgb(127, 229, 254);
    }


    .Movie{
        border: 3px solid #1a1a1a;
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Movie:hover{
        border: 3px solid rgb(253, 150, 236);
    }


    .Anime{
        border: 3px solid #1a1a1a;
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Anime:hover{
        border: 3px solid rgb(233, 244, 81);
    }


    .Book{
        border: 3px solid #1a1a1a;
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Book:hover{
        border: 3px solid rgb(81, 244, 81);
    }


    .Comic{
        border: 3px solid #1a1a1a;
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Comic:hover{
        border: 3px solid rgb(236, 44, 44);
    }



    #popular{
        position: relative;
        text-align: center;
        color: whitesmoke;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .pop_text{

        display: flex;
        flex-direction: row;
        max-width: none;
        justify-content: space-between;
    }

    video{
        height: 493px;
        width: 100%;
        border-radius: 18px;
        margin-bottom: -4px;

    }

    body ::-webkit-scrollbar{
        width: 0.5em;
        background: transparent;
    }

    body ::-webkit-scrollbar-thumb{
        background: aliceblue;
        border: .25em aliceblue solid;
        border-radius: 100vw;
    }

    .menu-button{
        display: none;
    }

    .menu{
        display: none;
    }

}


/* Mobil CSS */

@media screen and (max-width:500px) {
    #wrapper{
        background-color: #1a1a1a;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 200px auto;
        grid-template-areas: 
        'hd'
        'pop'
        'main'
        ;
        gap: 2px;
    }

    header{
        display:flex;
        width: 100vw;
        height: 50px;
        position:absolute;
        background-color: #1a1a1a;
        padding-left: 3px;
    }

    #aside{
        display: flex;
        overflow-y: scroll;
        top: 51px;
        background-color: #1a1a1a;
        flex-direction: column;
        border-bottom-right-radius: 8px;
        height: 100vh;
        width: 200px;
        position: fixed;
        top: 0;
        left: -300px;
        transition: left 0.5s ease-in-out;
        z-index: 1000;
    }

    .slider_wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    .slider{
        display: flex;
        aspect-ratio: 16/9;
        height: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    
    .slider img{
        flex: 1 0 100%;
        object-fit: cover;
        width: 100%;
        height: 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }


    
    #Rec{
        display:none
    }

    #popular{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    .bottom_left{
        position: absolute;
    }

    
    .Show{
        border: 3px solid rgb(127, 229, 254);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Movie{
        border: 3px solid rgb(253, 150, 236);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Anime{
        border: 3px solid rgb(233, 244, 81);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Book{
        border: 3px solid rgb(81, 244, 81);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Comic{
        border: 3px solid rgb(236, 44, 44);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    video{
        height:auto;
        width:99vw;
        border-radius: 18px;
        margin-bottom: -5px;
    }

    #aside.show{
        left: 0;
    }

    .fade-layer {
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 9;
    }

    .fade-layer.visible {
        opacity: 1;
        visibility: visible;
    }

}