
/* generall CSS */

body {
    margin:0;
}

p{
    color: white;
}

h1{
    color: aliceblue;
}

h4{
    color: aliceblue;
}

video{
    z-index: 1;
}

header{
    grid-area: hd;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#popular{
    grid-area: pop;
    background-color: #1a1a1a;
}

#aside{
    grid-area: as;
    background-color: #1a1a1a;
}

#scroll{
    grid-area: main;
}

#Rec{
    grid-area: as2;
    background-color: #1a1a1a;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}



/* Desktop CSS*/

@media  screen and (min-width:501px) {
    #wrapper{
        display: grid;
        background-color: gray;
        grid-template-columns: 20% 70% 9%;
        grid-template-rows: 50px 300px auto;
        grid-template-areas: 
        '. . .'
        '. pop pop'
        '. main as2'
        ;
        gap: 3px;
        margin-right: -2px;
    }

    header{
        display:flex;
        width: 100vw;
        height: 50px;
        position: fixed;
        background-color: #1a1a1a;
        padding-left: 3px;
    }

    #aside{
        display: flex;
        overflow-y: scroll;
        height: 650px;
        position: fixed;
        z-index: 1;
        top: 51px;
        background-color: #1a1a1a;
        width: 20%;
        flex-direction: column;
        padding-left: 3px;
    }

    #Rec{
        height: 300px;
        background-color: #1a1a1a;
        border-radius: 18px;
        padding-left: 5px;
    }

    .Show{
        border: 3px solid rgb(127, 229, 254);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Movie{
        border: 3px solid rgb(253, 150, 236);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Anime{
        border: 3px solid rgb(233, 244, 81);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Book{
        border: 3px solid rgb(81, 244, 81);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    .Comic{
        border: 3px solid rgb(236, 44, 44);
        height: auto;
        border-radius: 18px;
        background-color: #1a1a1a;
    }

    #popular{
        border-radius: 18px;
    }

    #scroll p{
        text-indent: 4px;
    }

    video{
        height: 494.44px;
        width: 882px;
        border-radius: 18px;
        margin-bottom: -5px;

    }


    .menu-button{
        display: none;
    }

    .menu{
        display: none;
    }

}


/* Mobil CSS */

@media screen and (max-width:500px) {
    #wrapper{
        background-color: gray;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 100px 300px;
        grid-template-areas: 
        'hd'
        'pop'
        'main'
        ;
        gap: 2px;
    }
}